.btn-funky-moon {
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #A770EF, #CF8BF3, #FDB99B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg, #A770EF, #CF8BF3, #FDB99B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    border-radius: 35px;;
}

body{
    font-family: 'poppins';
}

.cardHome {
    transition: transform 0.5s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
  }
  .cardHome:hover {
    transform: scale(1.1);
  }