

  .img-hover-zoom--blur img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(10%);
  }
  
  /* The Transformation */
  .img-hover-zoom--blur:hover img {
    filter: grayscale(0);
    transform: scale(0.9);
  }